.recommendations h4 {
  text-align:center;
}
.grid.recommendations .col {
  padding:2 !important;
}
.recommendations .col:first-child {
  border-right: 10px solid rgb(221, 221, 221);
}
.gitrec-recommendations {
  border-top: 10px solid rgb(221, 221, 221);
  text-align:center;
}
body.page-profile .box-header .octicon-repo-clone {
  margin-top: 8px;
  margin-right: 10px;
  color: rgb(153, 153, 153);
}
.box .powered-by-gitrec {
  font-size: 12px;
  margin: 10px;
  color: rgb(153, 153, 153);
}
.powered-by-gitrec {
  font-weight:bold;
  float:right;
  margin:4px 0;
}
