<div class="grid recommendations">
  <!-- <div class="boxed-group flush">
    <h3>Based on watches and forks</h3>
    <ul class="boxed-group-inner mini-repo-list">
      <li class="public source no-description">
        <a href="/prudhvid/BookShopAutomation" class="mini-repo-list-item css-truncate">
          <span class="repo-icon octicon octicon-repo"></span>
          <span class="repo-and-owner css-truncate-target">
            <span class="repo" title="BookShopAutomation">BookShopAutomation</span>
          </span>
          <span class="stars">
            1
            <span class="octicon octicon-star"></span>
          </span>
          <span class="repo-description css-truncate-target"></span>
        </a>
      </li>
      <li class="public source ">
        <a href="/prudhvid/Java" class="mini-repo-list-item css-truncate">
          <span class="repo-icon octicon octicon-repo"></span>
          <span class="repo-and-owner css-truncate-target">
            <span class="repo" title="Java">Java</span>
          </span>
          <span class="stars">
            1
            <span class="octicon octicon-star"></span>
          </span>
          <span class="repo-description css-truncate-target">All Java GUI projects</span>
        </a>
      </li>
      <li class="public fork ">
        <a href="/prudhvid/a.out" class="mini-repo-list-item css-truncate">
          <span class="repo-icon octicon octicon-repo-forked"></span>
          <span class="repo-and-owner css-truncate-target">
            <span class="repo" title="a.out">a.out</span>
          </span>
          <span class="stars">
            0
            <span class="octicon octicon-star"></span>
          </span>
          <span class="repo-description css-truncate-target">Online code judge</span>
        </a>
      </li>
      <li class="public source ">
        <a href="/prudhvid/Automated-student-grading-portal" class="mini-repo-list-item css-truncate">
          <span class="repo-icon octicon octicon-repo"></span>
          <span class="repo-and-owner css-truncate-target">
            <span class="repo" title="Automated-student-grading-portal">Automated-student-grading-portal</span>
          </span>
          <span class="stars">
            0
            <span class="octicon octicon-star"></span>
          </span>
          <span class="repo-description css-truncate-target">Used JPA(ORDBMS) and JSwing to make a GUI based grading portal</span>
        </a>
      </li>
      <li class="public source no-description">
        <a href="/prudhvid/FilesManager" class="mini-repo-list-item css-truncate">
          <span class="repo-icon octicon octicon-repo"></span>
          <span class="repo-and-owner css-truncate-target">
            <span class="repo" title="FilesManager">FilesManager</span>
          </span>
          <span class="stars">
            0
            <span class="octicon octicon-star"></span>
          </span>
          <span class="repo-description css-truncate-target"></span>
        </a>
      </li>
    </ul>
  </div>  -->
 
<div class="columns popular-repos">
  <div class="column one-half">
    <div class="boxed-group flush">
      <h3>Based on your activity</h3>
      <ul class="boxed-group-inner mini-repo-list" style="overflow:auto;height:300px;">
        <% _.each(interest_recommendations, function(recommendation, index) { %>
        <li class="public source no-description">
          <a href="/<%= recommendation.name %>" class="mini-repo-list-item css-truncate">
            <span class="repo-icon octicon octicon-repo"></span>
            <span class="repo-and-owner css-truncate-target">
              <span class="repo" title="BookShopAutomation"><%= recommendation.name %></span>
            </span>
            <span class="stars">
              <%= Math.round(recommendation.rating) %>
              <span class="octicon octicon-star"></span>
            </span>
            <span class="repo-description css-truncate-target"><%= recommendation.description %>

              <% if (!(!recommendation.language)) {%>
              <br>
              <b><%= recommendation.language %></b>
              <% } %>
            </span>
          </a>
        </li>
        <% }); %>
      </ul>
      <!--
      <ul class="repo-list">
        <% _.each(interest_recommendations, function(recommendation, index) { %>
        <% if(index < 4) { %>
        <li class="public source">
          <a href="/<%= recommendation.name %>" class="repo-list-item css-truncate">
            <span class="repo-icon octicon octicon-repo"></span>
            <span class="repo-and-owner css-truncate-target">
              <span class="repo" title="gitrec-chrome"><%= recommendation.name %></span>
            </span>
            <span class="stars">
              <%= recommendation.stars %>
              <span class="octicon octicon-star"></span>
            </span>
            <span class="repo-description css-truncate-target"><%= recommendation.description %></span>
          </a>
        </li>
        <% } %>
        <% }); %>
      </ul>
      -->
    </div>
  </div>



  <div class="column one-half">
    <div class="boxed-group flush">
      <h3>Based on watch and contribution</h3>
      <ul class="boxed-group-inner mini-repo-list" style="overflow:auto;height:300px;">
        <% _.each(contribution_recommendations, function(recommendation, index) { %>
        <li class="public source no-description">
          <a href="/<%= recommendation.name %>" class="mini-repo-list-item css-truncate">
            <span class="repo-icon octicon octicon-repo"></span>
            <span class="repo-and-owner css-truncate-target">
              <span class="repo" title="BookShopAutomation"><%= recommendation.name %></span>
            </span>
            <!-- <span class="stars">
              <%= Math.round(recommendation.rating) %>
              <span class="octicon octicon-star"></span> -->
            </span>
            <span class="repo-description css-truncate-target"><%= recommendation.description %>
              <% if (!(!recommendation.language)) {%>
              <br>
              <b><%= recommendation.language %></b>
              <% } %>

            </span>
          </a>
        </li>
        <% }); %>
      </ul>
      <!--
      <div class="col contribution-recommendations">
        <h4>Based on contributions</h4>
        <ul class="repo-list">
          <% _.each(contribution_recommendations, function(recommendation, index) { %>
          <% if(index < 4) { %>
          <li class="public source">
            <a href="/<%= recommendation.name %>" class="repo-list-item css-truncate">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target">
                <span class="repo" title="gitrec-chrome"><%= recommendation.name %></span>
              </span>
              <span class="stars">
                <%= recommendation.stars %>
                <span class="octicon octicon-star"></span>
              </span>
              <span class="repo-description css-truncate-target"><%= recommendation.description %></span>
            </a>
          </li>
          <% } %>
          <% }); %>
        </ul> -->
      </div>
    </div>

</div>
  </div>
  <!-- <div class="gitrec-recommendations">
    <a class="gitrec-see-more" href="http://gitrec.mortardata.com/user/<%=username%>">
      <h4>View All Recommendations</h4>
    </a>
  </div> -->