<div class="box box-small box-user-recommendations">
  <div class="box-header">
    <span class="octicon octicon-repo-clone tooltipped upwards right" original-title="Includes contributions from private repositories you can access.">
    </span>
    <div class="powered-by-gitrec">Powered by <a href="http://cse.iitkgp.ac.in/~prudhvi/">Dpp  </a> and 
            <a href="http://cse.iitkgp.ac.in/~dhruvj/">Dhruv</a></div>
    <h3 class="box-title">
      Recommended Repos
    </h3>
  </div>
  <div class="box-body">
    <div class="calendar-graph graph-canvas is-graph-loading">
      <div class="activity">
        <img class="graph-loading dots" src="/images/spinners/octocat-spinner-128.gif" width="64">
      </div>
    </div>
  </div>
</div>
